# CircleCI configuration for Android Unit Tests with JaCoCo
version: 2.1

orbs:
  android: circleci/android@3.1.0

jobs:
  unit-test:
    executor:
      name: android/android-docker
      tag: 2024.11.1

    steps:
      - checkout

      # Asegurar runnable gradlew
      - run:
          name: Grant execute permission for Gradle wrapper
          command: chmod +x ./gradlew

      - android/restore_gradle_cache

      # -------------------------
      # Ejecutar tests unitarios y generar reporte de cobertura
      # -------------------------
      - run:
          name: Run Unit Tests and Generate JaCoCo Report
          command: ./gradlew test jacocoTestReport --no-daemon --stacktrace

      - android/save_gradle_cache

      # Recopilar resultados de las pruebas (JUnit XML)
      - run:
          name: Collect Test Results
          command: |
            mkdir -p ~/test-results/junit/
            # Copia todos los archivos XML de resultados de test
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always

      - store_test_results:
          path: ~/test-results

      - store_artifacts:
          path: ~/test-results/junit
          destination: junit-results

      - store_artifacts:
          path: app/build/reports/jacoco
          destination: jacoco-report-app

      - store_artifacts:
          path: Library/build/reports/jacoco
          destination: jacoco-report-library

workflows:
  test-and-coverage:
    jobs:
      - unit-test:
          name: unit-test
          filters:
            branches:
              only:
                - master
